[Unit]
Description=Bitwarden SSH Agent Tray Icon
Documentation=https://github.com/reidond/bwssh
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart={exe_path} tray
Restart=on-failure
Environment="HOME=%h"
Environment="XDG_RUNTIME_DIR=%t"
Environment="PATH={env_path}"

[Install]
WantedBy=graphical-session.target
